* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
    min-width: 1100px;
}

.upload {
    float: left;
    width: 40vw;
    min-width: 450px;
    height: 100vh;
}

.result {
    float: left;
    width: calc(60vw - 1px);
    min-width: 600px;
    border-left: 1px solid #373737;
}

.upload_box {
    width: 80%;
    min-width: 300px;
    height: 30%;
    min-height: 100px;
    margin: 50px auto;
}

.title {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}

.result-img {
    width: 512px;
    height: 512px;
    margin: 10px auto;
    border: 1px solid #373737;
}

.time {
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    margin: 10px auto;
}

.btn_box {
    width: 200px;
    margin: 20px auto;
    align-items: center;
}